
<div>
  <div class="author">
    <!-- <img class="headshot" src="/images/headshot.jpg"></img> -->
    <p>Currently figuring out what to do next.</p>

    <p>Co-founder and ex-CTO of <strong><a href="https://usemast.com">Mast.</a></strong> Formerly engineering at <a href="https://thoughtmachine.net">Thought Machine,</a> Pivotal. <a href="/makers-academy">Makers Academy</a> and <a href="https://recurse.com">Recurse Center</a> alumnus.</p>

    <p>
      I've pledged to give 10% of my income to highly effective charities working to <a href="https://funds.effectivealtruism.org/funds/animal-welfare">improve animal welfare</a>. If my startup is successful, I hope to give away much more.
    </p>

    <p>
      Also founded <a href="https://eawork.club">EA Work Club</a>, a job board for effective altruists,
      and <a href="https://lets-fund.org">Let's Fund</a>, a crowdfunding site for high-risk,
      high-reward social impact projects.
    </p>

    <p class="rss-subscribe"><a href="https://henryaj.substack.com/subscribe?utm_source=henrystanleydotcom">Subscribe here</a> to get updated when I post.</p>
  </div>
<br><br>
</div>
